{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block title %}Accueil - OPTIC{% endblock %}

{% block body %}
<h1>Bienvenue sur OPTIC</h1>
<p>Prendre rendez-vous</p>
<a href="{{ path('app_appointment_new') }}">Réserver un créneau</a>
{% endblock %}
